<h2>Your transactions this month</h2>
<br>
<br>
  <table>
    <tr>
      <th>Amount</th>
      <th>Merchant</th>
      <th>Time</th>
      <th>Tags</th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.amount %></td>
      <td><%= transaction.merchant_name %></td>
      <td><%= transaction.time_inserted %></td>
      <td><%= transaction.tag_names %></td>
      <td><a href="/transactions/<%= transaction.id %>">View</a><td>
    </tr>
    <% end %>
</table>
  <br><br>
    <h3>Total: £ <%= Transaction.current_month_total %></h3>
    <h4><a href="/transactions/new">Add new payment</a></h4>
  <br><br>
