<h2>Your transactions</h2>
<br>
  <h4><a href="/transactions/current">View current month</a></h4>
  <h4><a href="/transactions/new">Add new payment</a></h4>
<br><br>
<br>
    <form action="/transactions/search" method="post">
      <label for="merchant">Filter by merchant:</label>
          <select id="merchant" name="merchant_id">
            <% for merchant in @merchants %>
            <option value= "<%= merchant.name %>"><%= merchant.name %></option>
            <% end %>
          </select>
      <input type="submit" value="Filter">
    </form>
<br>
<br>
  <table>
    <tr>
      <th>Amount</th>
      <th>Merchant</th>
      <th>Time</th>
      <th>Tags</th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.amount %></td>
      <td><%= transaction.merchant_name %></td>
      <td><%= transaction.time_inserted %></td>
      <td><%= transaction.tag_names %></td>
      <td><a href="/transactions/<%= transaction.id %>">View</a><td>
    </tr>
    <% end %>
</table>
    <h3>Total: £ <%= Transaction.total %></h3>
      <form action="/transactions/search" method="post">
         <div class="search">
            <input type="text" name="search" class="searchTerm" placeholder="Search for payments">
         </div>
      </form>
  <br><br>
    <h4><a href="/transactions/new">Add new payment</a></h4>
  <br><br>
